<div class="bookingCard" *ngIf="isShown">
    <div class="arrow">
        <svg height="64px" width="64px" viewBox="0 0 483.05 483.05" transform="rotate(270)matrix(-1, 0, 0, 1, 0, 0)">
            <polygon style="fill:#c2185b;" points="241.524,121.155 241.524,361.894 483.049,361.894 "/> <polygon style="fill:#c2185b;" 
            points="0,361.894 241.524,361.894 241.524,121.155 "/>
        </svg>
    </div>
    
    <mat-card class="card">
        <mat-card-header>
            <div class="cardHeader">
                <mat-card-title class="title">Buchen</mat-card-title>
                <mat-card-title class="deskId">#{{deskId}}</mat-card-title>
            </div>
        </mat-card-header>
        <p class="date">{{weekDays[0]}} - {{weekDays[4]}}</p>
        <div class="chooseButtons">
            <button mat-mini-fab color="acent" class="arrowLeft" (click)="onChangeWeek(true)"><mat-icon>arrow_left</mat-icon></button>
            <button mat-mini-fab *ngFor="let button of dayButtons" [color]="button.color" class="button" [disabled]="button.disabled" 
            (click)="onDayButtonClick(button)">{{button.name}}</button>
            <button mat-mini-fab color="acent" class="arrowRight" (click)="onChangeWeek(false)"><mat-icon>arrow_right</mat-icon></button>
        </div>
        <div class="controlButtons">
            <button mat-raised-button class="cancelButton" (click)="onCancel()">Abbruch</button>
            <button mat-raised-button class="bookButton" (click)="onBook()">{{bookButtonText}}</button>
        </div>
    </mat-card>
</div>
