<div class="navbar">
  <mat-toolbar class="desktopHeader">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" class="menuIcon" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Book My Desk</span>
      <span class="spacer"></span>
      <div class="listCon" fxShow="true" fxHide.lt-md="true">
        <a class="listElement" href="/home" mat-button>Home</a>
        <a class="listElement" href="/booking" mat-button>Booking</a>
        <a class="listElement" href="#" mat-button>
            <mat-icon>account_box</mat-icon>My Account
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="/home" mat-list-item>Home</a>
        <a href="/booking" mat-list-item>Booking</a>
        <a href="#" mat-list-item><mat-icon>account_box</mat-icon>My Account</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>


