<mat-card class="room1">
    <mat-card-header>
        <mat-card-title>Raum 1</mat-card-title>
    </mat-card-header>
    <mat-card class="innerRoom">
        <svg class="door" width="30px" height="30px" viewBox="0 0 512 400" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
                <path d="M0 2811 l0 -2251 450 0 450 0 0 2100 0 2099 68 -5 c380 -28 606 -67
                929 -160 345 -98 734 -275 1043 -472 955 -612 1616 -1597 1814 -2707 38 -215
                66 -488 66 -651 l0 -74 150 0 150 0 0 83 c0 108 -25 404 -45 542 -89 613 -314
                1218 -643 1730 -300 465 -697 883 -1142 1202 -546 390 -1203 659 -1855 759
                -266 41 -346 45 -892 51 l-543 5 0 -2251z"/>
                <path d="M382 449 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                -178 23z"/>
            </g>
        </svg>
        <div class="tables">
            <div class="group1">
                <div class="subgroup1">
                    <app-desk class="desk1" [deskId]="01"></app-desk>
                    <app-desk class="desk2" [deskId]="02"></app-desk>
                </div>
                <div class="subgroup2">
                    <app-desk class="desk1" [deskId]="03"></app-desk>
                    <app-desk class="desk2" [deskId]="04"></app-desk>
                </div>
            </div>
            <div class="group2">
                <div class="subgroup1">
                    <app-desk class="desk1" [deskId]="05"></app-desk>
                    <app-desk class="desk2" [deskId]="06"></app-desk>
                </div>
                <div class="subgroup2">
                    <app-desk class="desk1" [deskId]="07"></app-desk>
                    <app-desk class="desk2" [deskId]="08"></app-desk>
                </div>
            </div>
        </div>
    </mat-card>
</mat-card>
