<div class="container" *ngIf="desk">
    <svg [ngClass]="{'defaultColor': defaultColor, 'bookedColor': !defaultColor, 'staticShadow': staticShadow, 'hovorShadow': !isBlurred}" [attr.width]="desk.size?.width" 
    [attr.height]="desk.size?.height" (click)="onClick()">
        <rect [attr.width]="desk.size?.width" [attr.height]="desk.size?.height"/>
    </svg>
    <app-booking-card *ngIf="showDialog" (changeShadowStyleEvent)="onClick()" (deskBookedEvent)="onDeskBooked($event)"
    class="bookingCard" [desk]="desk"></app-booking-card>
</div>

    
